---
export interface Props {
    post: any
}
const { post } = Astro.props;
const id = '/blog/'+post.uid;

import { Picture } from '@astrojs/image/components';

---

<a href={'/blog/${post.uid}}'}>
  <div class="flex flex-col mx-auto bg-main rounded w-[300px] lg:w-full">
    <div class="aspect-[4/3] bg-white rounded-sm">
      <Picture class="" src={post.data.image.url} widths={[200, 400, 800]} aspectRatio="4:3" format="avif" sizes="100%" alt="Picture of blog post"/>
    </div>
    <div class="flex flex-col gap-4 p-4">
      <div>
        <h2>{post.data.title[0].text}</h2>  
        <hr>
      </div>
      <p class="truncate max-w-[200px]">{post.data.excerpt}</p>
      <p class="text-yellow-300 underline"> Read more! </p>
    </div>
  </div>
</a>