---
import MainLayout from "../layouts/MainLayout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import GridSection from "../components/GridSection.astro";
import Hero from "../components/Hero.astro";
import PageSection from "../components/PageSection.astro";
---

<MainLayout title="About">
  <Navigation />
  <GridSection>
		<Hero>
			<p slot="hero-header">About Me</p>
			<p slot="hero-text"></p>
		</Hero>
  </GridSection>
  <PageSection title="Who I am" flexlist="flex flex-col justify-center mb-32 items-stretch md:flex-col"> 
    <div slot="subtext" class="text-white">
      Hello
    </div>
    <div class="">omg we are testing this</div>
  </PageSection>
  <PageSection title="Technical Knowledge"> 
    Test
  </PageSection>
  <Footer />
</MainLayout>