---
import MainLayout from "../layouts/MainLayout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import GridSection from "../components/GridSection.astro";
import Hero from "../components/Hero.astro";
import PageSection from "../components/PageSection.astro";
---

<MainLayout title="Blog">
  <Navigation />
  <GridSection>
		<Hero>
			<p slot="hero-header">Blog</p>
			<p slot="hero-text"></p>
		</Hero>
  </GridSection>
  <PageSection title="Recent Blogs"> 
    Test
  </PageSection>
  <PageSection title="Programming Blogs"> 
    Test
  </PageSection>
  <PageSection title="Reviews"> 
    Test
  </PageSection>
  <PageSection title="Misc"> 
    Test
  </PageSection>
  <Footer />
</MainLayout>