---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import PageSection from '../components/PageSection.astro';
import FlexColList from '../components/FlexColList.astro';
import SmallListCard from '../components/SmallListCard.astro';
import Button from '../components/Button.astro';
import Gallery from '../components/Gallery.astro';
import GallerySlide from '../components/GallerySlide.astro';
import Footer from '../components/Footer.astro';
import GridSection from '../components/GridSection.astro';
import { Picture } from '@astrojs/image/components';
import avatar from '/public/images/avatar.png';
---

<MainLayout title="Home">
	<Navigation />
	<GridSection>
		<Hero subtext="I am Michael Victorino. I am a web developer">
			<p slot="hero-header">Hey there,<br> I'm Michael!</p>
			<p slot="hero-text">I am Michael Victorino. I like to program and interested in web development, game development, etc.</p>\
			<div slot="hero-image" class="p-2 md:p-8 bg-main rotate-45">
				<Picture class="-rotate-45" src={avatar} widths={[200, 400, 800]} format="avif" aspectRatio="1:1" sizes="200px" alt="Personal avater of myself" />
			</div>
		</Hero>
	</GridSection>
	<PageSection title="About me" flexwrap="md:flex-row-reverse" classlist="z-50">
		<div slot="subtext">
			<FlexColList classlist="gap-4">
				<li>
					<SmallListCard icon="mdi:account-supervisor-circle-outline" bgcolor="bg-darkacc">
						<div slot="text">I'm Michael, currently based in Toronto, Canada</div>
					</SmallListCard>
				</li>
				<li>
					<SmallListCard icon="ic:round-history-edu" bgcolor="bg-lightacc">
						<div slot="text">Started programming in high school from web development and game development</div>
					</SmallListCard>
				</li>
				<li>
					<SmallListCard icon="ri:arrow-down-line" bgcolor="bg-darkacc">
						<div slot="text">Currently working on side projects such as this website and other web projects </div>
					</SmallListCard>
				</li>
			</FlexColList>	
		</div>
		<div slot="otherside" class="flex flex-col gap-4 items-center">
			<div class="aspect-[4/3] w-[400px] md:w-[350px] lg:w-[450px] xl:w-[550px] bg-gray-200 rounded-sm shadow-lg transform transition-all ease-out hover:scale-[85%] hover:rotate-2">
				<Picture class="hue-rotate-45 sepia-[.5]"  src="/public/images/aboutme.jpg" widths={[200, 400, 800]} format="avif" aspectRatio="4:3" sizes="100%" alt="A picture of myself" />
			</div>
			<a href="/about"><Button>Learn more about me!</Button></a>
		</div>
	</PageSection>

	<PageSection title="Projects">
		<FlexColList classlist="items-center justify-around gap-8 grow px-2 md:px-0 lg:px-0 lg:w-3/4" slot="subtext">
				<div class="basis-1/3">I do personal projects and also freelancing opportunities. Here is a gallery of some projects I have done to the right</div>
				<div class="basis-1/3">I am always doing side projects on my time and you can definitely find more of my stuff in the Projects section which you can click down below!</div>
				<a href="/projects"><Button>Find more projects here!</Button></a>
		</FlexColList>
		<div slot="otherside" class="flex basis-1/2 items-stretch px-6">
			<Gallery>
				<GallerySlide class:list={["slides"]} project="Event Organizer" image="./images/tala.png">
					A website for an event organizer/advertiser specifically music, highlighting artists and events
				</GallerySlide>
				<GallerySlide project="To-Do List" image="./images/todolist.png">
					A Todo List web application that utilises local storage of the browser which allows you to organise tasks/projects you need to finish
				</GallerySlide>
				<GallerySlide project="Tic Tac Toe" image="./images/tictactoe.png">
					Play Tic-Tac-Toe against the computer. The computer uses the minimax algorithm which means the player has no chance to win!
				</GallerySlide>
			</Gallery>
		</div>
	</PageSection>
	<Footer />
</MainLayout>