---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
---

<MainLayout title="Testing">
	<Navigation />
	<Hero subtext="I am Michael Victorino. I am a web developer">
		<p slot="hero-header">Hey there, <br> I'm Michael</p>
		<p slot="hero-text">I am Michael Victorino. I like to program and interested in web development, game development, etc.</p>
	</Hero>
</MainLayout>