---
import MainLayout from "../layouts/MainLayout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import GridSection from "../components/GridSection.astro";
import Hero from "../components/Hero.astro";
import PageSection from "../components/PageSection.astro";
---

<MainLayout title="Projects">
  <Navigation />
  <GridSection>
		<Hero>
			<p slot="hero-header">Projects</p>
			<p slot="hero-text">Under Construction</p>
		</Hero>
  </GridSection>
  <PageSection title="under construction"> 
    Under construction
  </PageSection>
  <Footer />
</MainLayout>