---
/// HEre

const { subtext } = Astro.props;
---

<section class="relative z-[1]">
  <div class="container m-auto px-6 p-32 md:px-12 lg:px-7 lg:py-32">
    <div class="flex flex-col-reverse md:flex-row justify-center md:justify-between items-center">
      <div class="flex flex-col items-center md:items-start py-12 lg:py-24">
        <h1 class="font-bold text-center md:text-start text-dark text-5xl md:text-6xl  uppercase">
          <slot name="hero-header"/>
        </h1>
        <div class="mt-8"></div>
        <slot name="hero-text" />
      </div>
      <slot name="hero-image" />
    </div>
  </div>
</section>

<style>
  .bg-grid {
    mask-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 54%, rgba(0,31,46,0) 95%, rgba(0,172,255,0) 100%);
    background-size: 32px 32px;
    background-image:
    linear-gradient(to right, rgb(194, 194, 194) 0.1px, transparent 1px),
    linear-gradient(to bottom, rgb(194, 194, 194) 0.1px, transparent 1px);
  }
</style>