---
import MainLayout from "../layouts/MainLayout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import GridSection from "../components/GridSection.astro";
import Hero from "../components/Hero.astro";
import PageSection from "../components/PageSection.astro";
import SectionTitle from "../components/SectionTitle.astro";
import BlogCard from "../components/BlogCard.astro";

import { getAllBlogPosts } from '../lib/prismic';

import { Picture } from '@astrojs/image/components';

import avatar from "/public/images/blog-default.jpg";

export interface Props {
    event: any
}
const articles = await getAllBlogPosts();
alert(articles);
---

<MainLayout title="Blog">
  <Navigation />
  <GridSection>
		<Hero>
			<p slot="hero-header">Blog Posts</p>
			<p slot="hero-text" class="text-xl lg:text-2xl">Welcome to my blog where you can find posts about me talking about programming, media, life, etc!</p>
      <div slot="hero-image" class="basis-1/2 bg-lightacc p-2 transition-all duration-100">
        <Picture class="lg:w-full lg:h-full" src={avatar} widths={[200, 400, 800]} format="avif" aspectRatio="1:1" width={200} sizes="100%" alt="Personal avater of myself" />
      </div>
		</Hero>
  </GridSection>
  <PageSection flexlist="flex flex-col items-center gap-8"> 
    <SectionTitle title="Recent Blogs" classlist="self-center lg:self-start" />
    <div class="grid justify-center items-center px-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      {
        articles.map((post) => (
          <BlogCard post={post} />
        ))
      }

    </div>
  </PageSection>
  <Footer />
</MainLayout>
<style>
  hr {
    height: 1px;
    background-color: #000;
    border: none;
  }
</style>