---
import MainLayout from "../layouts/MainLayout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import GridSection from "../components/GridSection.astro";
import Hero from "../components/Hero.astro";
import PageSection from "../components/PageSection.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<MainLayout title="Contacts">
  <Navigation />
  <GridSection>
		<Hero>
			<p slot="hero-header">Contact</p>
			<p slot="hero-text" class="text-xl lg:text-2xl">Need to contact me for any questions? Need a website up and running?<br>
      Here are some ways to contact me...</p>
      <div slot="hero-image" class="bg-main rounded-sm basis-1/4 self-stretch px-4 py-4 hover:rotate-[5deg] transition-all duration-100">
        <ul class="flex flex-col gap-8 justify-evenly h-full">
          <li>
            <h2>Socials</h2>
            <hr class="bg-white">
          </li>
          <li>Twitter</li>
          <li>LinkedIn</li>
          <li>Github</li>
        </ul>
      </div>
		</Hero>
  </GridSection>
  <PageSection flexlist="flex flex-col items-stretch gap-4 p-4 rounded-md"> 
    <SectionTitle title="Message Me!" classlist="text-center" />
    <form class="bg-main lg:self-center lg:w-4/6 p-4" method="post" action="https://formspree.io/f/xnqybagr">
      <label class="text-white" for="fname">Your Name:</label>
      <input id="fname" class="w-full rounded-sm py-1 px-4" type="text" name="name" placeholder="John Doe" required>
      <label class="text-white" for="femail">Your Email:</label>
      <input id="femail" class="w-full rounded-sm py-1 px-4" type="email" name="email" placeholder="example@example.com" required>
      <label class="text-white" for="fsubject">Subject:</label>
      <input id="fsubject" class="w-full rounded-sm py-1 px-4" type="text" name="subject" placeholder="Subject" required><br>
      <label class="text-white" for="fmessage">Message</label>
      <textarea id="fmessage" class="w-full rounded-sm py-1 px-4" name="message" placeholder="Your message here..." rows="10" required></textarea>
      <input class="w-full p-4 bg-darkacc text-white" type="submit" value="Send">
    </form>
  </PageSection>
  <Footer />
</MainLayout>